@font-face {
  font-family: "MabryPro";
  src: url("https://veroisoardi.github.io/tecno-multimedia-1-web/assets/css/fonts/MabryProRegular.otf");
  src: url("https://veroisoardi.github.io/tecno-multimedia-1-web/assets/css/fonts/MabryProBlack.otf");
  src: url("https://veroisoardi.github.io/tecno-multimedia-1-web/assets/css/fonts/MabryProBold.otf");
  src: url("https://veroisoardi.github.io/tecno-multimedia-1-web/assets/css/fonts/MabryProItalic.otf");
  src: url("https://veroisoardi.github.io/tecno-multimedia-1-web/assets/css/fonts/MabryProLight.otf");
  src: url("https://veroisoardi.github.io/tecno-multimedia-1-web/assets/css/fonts/MabryProMedium.otf");
}

html{
  height: 100%;
}

*{
  color: #000;
  font-family: 'MabryPro', sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;

}

h1 {
  font-size: 11rem;
  font-weight: 800;
  letter-spacing: 0.4rem;
  margin: 0;
  text-transform: uppercase;
}

h2{
  font-size: 5rem;
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.02em;
}

h3{
  font-size: 4rem;
  line-height: 0.9;
  letter-spacing: -0.01em;
  font-weight: 400;
}

h4{
  font-size: 3rem;
  line-height: 0.8;
  letter-spacing: 0;
  font-weight: 400;
  margin-bottom: 2rem;
}

a {
  background-color: transparent;
  text-decoration: none;
}

a.text-decoration{
  text-decoration: underline;
}

a.text-decoration:hover{
  color: #ffc900;
}

p{
  font-size: 1.5rem;
  line-height: 1.3;
  letter-spacing: -0.01em;
  margin: 1rem 0;
}

.header {
  border-bottom: 2px solid #000;
  padding: 2rem 2vw;
}

.nav-container{
  align-items: center;
  border-bottom: 2px solid #000;
  box-sizing: border-box;
  display: table;
  justify-content: space-between;
  width: 100%;
}

.nav-menu{
  display: flex;
  float: right;
}

.nav-link{
  border-left: 2px solid #000;
  display: inline-block;
  font-size: 1rem;
  max-width: 100%;
  padding: 1.5rem 3vw;
  position: relative;
}

.nav-link.black{
  background-color: #000;
  border-right: 2px solid #000;
}

.nav-link.black div{
  color: #fff;
}

.nav-link:hover{
  background-color: #ff90e8;
}

.nav-link div{
  color: #000;
  background-color: transparent;
}

.wrapper{
  overflow: hidden;
}

.two-column-grid{
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  border-bottom: 2px solid #000;
}

.half-pink{
  background-color: #ff90e8;
  border-right: 2px solid #000;
  color: #000;
}

.half-yellow{
  background-color: #ffc900;
  color: #000;
}

.half-green{
  background-color: #23a094;
  border-right: 2px solid #000;
  color: #000
}

.half-black{
  background-color: #000;
  color: #fff;
}

.no-border{
  border-right: 0px;
}

.column-padding{
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  height: 100%;
  min-height: 22rem;
  padding: 6.5vw;
  position: relative;
}

.column-padding.flex-end{
  align-items: center;
  height: 80%;
  padding-right: 0vw;
}

.shadow-btn-wrap{
  background-color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  display: inline-block;
  justify-self: start;
  max-width: 50%;
  min-width: 18rem;
  position: relative;
}

.shadow-btn-text{
  color: #fff;
  font-size: 1.5rem;
  padding: 1.1rem 2rem 1.2rem;
  position: relative;
  text-align: center;
}

.shadow-btn-wrap:hover{
  box-shadow: 16px 16px 0 -0.25rem #f1f333;
}

.pictures-wrap{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.picture{
  width: 100%;
  height: 100%;
  max-width: 36rem;
  min-width: 100%;
  object-fit: contain;
}

.sticker{
  bottom: 2rem;
  display: block;
  left: 0rem;
  position: absolute;
  right: auto;
  top: auto;
  max-width: 100%;
}

.sticker.music-sticker{
  bottom: auto;
  left: auto;
  right: 2rem;
  rotate: 14deg;
  top: 4rem;
  width: 9rem;
}

.sticker.film-sticker{
  bottom: auto;
  left: auto;
  right: 1rem;
  rotate: 14deg;
  top: 0rem;
  width: 9rem;
}

.sticker.audio-sticker{
  bottom: 3rem;
  left: 4rem;
}

.intro-life-section{
  padding-top: 7.5rem;
  padding-bottom: 8.5rem;
  position: relative;
  border-bottom: 2px solid #000;
}

.intro-life-container{
  width: 100%;
  padding-right: 4vw;
  padding-left: 4vw;
}

.intro-life-text{
  display: grid;
  width: 65vw;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  justify-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 0rem;
  grid-row-gap: 1.5rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  text-align: center;
}

.d-center{
  display: flex;
  align-items: center;
  padding: 4vw 6vw 0vw 6vw;
  height: 80%;
}

.mb-2{
  margin-bottom: 2rem;
}

.white{
  color: #fff;
}

.social-icons{
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 10rem;
}

.social-link{
  color: #fff;
  display: inline-block;
  height: 1.5rem;
  max-width: 100%;
  width: 1.5rem;
}

.social-icon{
  color: #fff;
  width: 50px;
  height: 45px;
  fill: none;
  overflow: hidden;
}